homesyn.zip
loffle/style.css
/plugins
/wp/wp-content
/wp/.htaccess
/wp/wp-config.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk
