@media (max-width: 559px) {
	.site-title, p.site-title {
		font-size: 2em;
	}

	.menu-toggle {
		font-size: 1em;
		width: 60%;
	}

	.main-navigation .menu-menu-1-container {
		top: 39px;
	}

	.toggle-button() {
		font-size: 1em;
		width: 18%;
	}

	.main-navigation .search-toggle {
		.toggle-button;
	}

	.main-navigation .email-toggle {
		.toggle-button;
	}

	.search-form {
		top: 39px;
	}

	.search-form .search-field {
		width: 175px;
	}

	.site-description {
		font-size: 1em;
	}

	body.admin-bar {
		.main-navigation .menu-menu-1-container {
			top: 39px;
		}

		.search-form {
			top: 39px;
		}
	}
}
