a, a:visited {
	.accent-text;
}

.tagcloud a, .tags-links a, .read-more a, .foraSliderCaption .sliderMore a, .page-links .page-links-number {
	.accent-background;
	color: white;
	.button-hover;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	.accent-background;
	.button-hover;
}

.site-main .navigation.pagination .nav-links .page-numbers.current,
.woocommerce-pagination .page-numbers li .current.page-numbers {
	border-color: @accent;
}

.site-main .navigation.pagination .nav-links .page-numbers,
.woocommerce-pagination .page-numbers li .page-numbers,
#toTop {
	 .accent-background;
 }

blockquote {
	border-color: @accent;

	&:before {
		.accent-text;
	}
}

.mc-banner {
	top: 40px!important;
}

@media only screen and (max-width: 980px) {
  .mc-modal {
  	top: 65px!important;
  }
}
