/*
CSS for global content
Version:2.0
Author: Plingoo 
Author uri: http://www.plingoo.com
Licence: GPLv2
*/
.clr{
	clear:both;
}
.plugin-header, .plugin-footer{ 
	width: calc(100% - 20px);
    padding: 10px;
    background: #00023a;
}

.plugin-pro
{
display: block;
    padding: 5px 10px;
    background: #ffef63;
    border: 1px solid #00023a;
    margin-bottom: 1%;
}

.hire-btn
{
	display: inline-block;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    background: #449a48;
    margin: 0 10px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #256328;
	    -webkit-box-shadow: 0 1px 0 #256328;
    box-shadow: 0 1px 0 #256328;
}
a.hire-btn:focus,a.hire-btn:hover
{
    background: #4c9e50;
    margin: 0 10px;
    color: #eee;
    border-radius: 4px;
    border: 1px solid #388e3c;
}
a.plugin-h-logo-a
{
outline:0 !important;
}

.plugin-header a, .plugin-footer a{
text-decoration:none;
}

.plugin-header-logo{ 
	width: 25%;
	display: inline-block;
	float:left;
}
.plugin-header-logo img{ 
    width: 65px;
    padding: 2px;
}

.plugin-header-right{
	width: 72%;
	display: inline-block;
	text-align: right;
	color:#FFF;
}
.plugin-header-right h2{
	color:#FFF;
}

.plugin-footer{
	color:#FFF;
}
.plugin-footer-left{
	width:45%;
	float:left;
	display:inline-block;
}
.plugin-footer-right{
	width:50%;
	display:inline-block;
	text-align:right;
}
@media screen and (max-width:768px)
{
.plugin-header, .plugin-footer{ 
	width: 92%;
}
.plugin-header-logo{ 
	width: 100%;
}
.plugin-header-logo img{ 
	width: 20%;
}
.plugin-header-right{
	width: 100%;
	text-align: left;
}
.plugin-header-right h2{
	font-size:18px;
}
.plugin-footer-left{
	width:100%;
}
.plugin-footer-right{
	width:100%;
}
}
@media screen and (max-width:500px)
{

.plugin-header-logo img{ 
	width: 40%;
}
}
@media screen and (max-width:320px)
{

.plugin-header-logo img{ 
	width: 50%;
}
}